IndexIgnore * # prevent directory listing

<Files *.php>
    Order Deny,Allow
    Deny from all
    # Allow from 127.0.0.1
</Files>

<Files .htaccess>
	order allow,deny
	deny from all
	# Allow from 127.0.0.1
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files taskscopy.json>
    Order Allow,Deny
    Allow from all
</Files>

# ------------------------------------------
# Rewrite so that php extentions are not shown
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php